@import '../styles/variables.scss';

@charset "utf-8";

.edit-task {
  width: 1000px;
  margin: 0 auto;

  @include tablet {
    width: 90%;
  }

  @include mobile {
    width: 95%;
  }

  &-form {
    color: #555555;
  }

  &-title,
  &-detail,
  &-limit {
    width: 300px;
    margin-bottom: 25px;

    @include tablet {
      width: 100%;
      max-width: 300px;
    }

    @include mobile {
      width: 100%;
    }
  }

  &-button {
    background-color: #242f9b;
    color: #ffffff;
    width: 80px;
    height: 40px;
    border-radius: 5px;

    @include mobile {
      width: 100%;
      margin-top: 10px;
    }
  }
}

.delete-task-button {
  color: #ff3333;
  border: solid 1px #ff3333;
  width: 80px;
  height: 40px;
  margin: 25px 5px;
  border-radius: 5px;

  @include mobile {
    width: 100%;
    margin: 25px 0 10px 0;
  }
}

.error-message {
  color: #ff3333;
}
