@import '../styles/variables.scss';

@charset "utf-8";

.signin {
  width: 500px;
  margin: 0 auto;

  @include tablet {
    width: 90%;
    max-width: 500px;
  }

  @include mobile {
    width: 95%;
  }

  &-form {
    margin: 25px 0;
  }

  &-button {
    background-color: #242f9b;
    color: #ffffff;
    width: 100px;
    height: 40px;
    border-radius: 5px;

    @include mobile {
      width: 100%;
    }
  }
}

.email,
.password {
  &-label {
    color: #555555;
  }

  &-input {
    width: 100%;
    font-size: large;
    height: 30px;
    margin-bottom: 25px;
  }
}

.error-message {
  color: #ff3333;
}
